<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Oceania</div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li><img src="/templates/brand/images/icons/CountryFlag-AUSTRALIA.png"> Australia</li>
                <li><i class="fa fa-evelope">&nbsp;</i> <span id="cloakb719a53ebbb56b5e28f2737065aa732f"><a href="mailto:sales@containerize.com">sales@containerize.com&nbsp;</a></span><script type="text/javascript">document.getElementById('cloakb719a53ebbb56b5e28f2737065aa732f').innerHTML='';var prefix='&#109;a'+'i&#108;'+'&#116;o';var path='hr'+'ef'+'=';var addyb719a53ebbb56b5e28f2737065aa732f='s&#97;l&#101;s'+'&#64;';addyb719a53ebbb56b5e28f2737065aa732f=addyb719a53ebbb56b5e28f2737065aa732f+'c&#111;nt&#97;&#105;n&#101;r&#105;z&#101;'+'&#46;'+'c&#111;m';var addy_textb719a53ebbb56b5e28f2737065aa732f='s&#97;l&#101;s@c&#111;nt&#97;&#105;n&#101;r&#105;z&#101;.c&#111;m&nbsp;';document.getElementById('cloakb719a53ebbb56b5e28f2737065aa732f').innerHTML+='<a '+path+'\''+prefix+':'+addyb719a53ebbb56b5e28f2737065aa732f+'\'>'+addy_textb719a53ebbb56b5e28f2737065aa732f+'<\/a>';</script></li>
            </ul>
        </div>
    </div>
</div>