<div class="fessWrapper fessOverlay" id="fessOverlay" style="display: none;">
    <div class="fessPopup">
        <div><button type="button" class="close fessPopupClose" id="fessPopupClose">×</button></div>
        <div class="fessPopupResult">
            <div class="fessResultBox">
                <div id="result">
                    <div style="border-bottom:solid thin #eeeeee;padding-bottom:5px;margin-bottom:10px;">
                        <table width="100%" class="result-header">
                            <tbody>
                                <tr>
                                    <td>
                                        <span id="result_count"></span> 
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <ol id="searchResultList">
                            <!--<li id="result3">
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="title ellipsis media-heading">
                                            <a class="link" href="" data-uri="" data-order="0">GroupDocs.Signature for .NET 17.1.0 Release Not...</a>
                                        </h3>
                                    </div>
                                    <div class="body">
                                        <div>
                                            <div class="media-body description">
                                                SIGNATURENET-2457 Not able to set PDF/Cells
                                            </div>
                                        </div>
                                        <div class="site ellipsis">
                                            <cite>docs.groupdocs.com/signature/net/groupdocs-sign...</cite>
                                        </div>
                                    </div>
                                </div>
                            </li>-->
                        </ol>
                    </div>
                </div>
                <div class="center">
                    <nav id="subfooter" class="paginationNav">
                        <ul class="pagination" id="pagination">
                            <!--<li class="prev disabled" aria-label="Previous" page="0">
                                <a><span aria-hidden="true">«</span> <span class="sr-only">prev</span></a>
                            </li>
                            <li class="active" page="1" style="cursor: pointer;"><a>1</a></li>
                            <li page="2" style="cursor: pointer;"><a>2</a></li>
                            <li page="3" style="cursor: pointer;"><a>3</a></li>
                            <li page="4" style="cursor: pointer;"><a>4</a></li>
                            <li page="5" style="cursor: pointer;"><a>5</a></li>
                            <li page="6" style="cursor: pointer;"><a>6</a></li>
                            <li class="next" aria-label="Next" page="2" style="cursor: pointer;">
                                <a><span class="sr-only">next</span><span aria-hidden="true">»</span></a>
                            </li>-->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<script src=/js/bundle-footer.min.js></script>


{{ $menu :=  $.Site.Params.dynamicmenuid }}
{{ if .Site.IsMultiLingual }}
    {{ if (index site.Params.menu .Site.LanguageCode)}}
        {{ $menu = (index site.Params.menu .Site.LanguageCode) }}
    {{ end }}
{{ end }}
<script>
(function(i, s, o, g, r, a, m) {i['ContainerizeMenuObject'] = r; i[r] = i[r] || function() {(i[r].q = i[r].q || []).push(arguments)}, i[r].l = 1 * new Date(); a = s.createElement(o),m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.append(a)})(window, document, 'script', 'https://menu.containerize.com/scripts/engine.min.js?v=1.0.1&#8217;', '{{ $menu }}');
</script>

<script>anchors.add('.main h2, .main h3');</script>
<!--<script>(function () {
     var fess = document.createElement('script'); 
     fess.type = 'text/javascript'; 
     fess.async = true; 
     fess.src = 'https://search.groupdocs.com/common/js/fess-ss.min.js'; 
     fess.charset = 'utf-8'; 
     fess.setAttribute('id', 'fess-ss'); 
     fess.setAttribute('fess-url', 'https://search.groupdocs.com/json/'); 
     fess.setAttribute('popup-result', 'true'); 
     fess.setAttribute('enable-thumbnail', 'false'); 
     fess.setAttribute('fields-label', 'gddocs'); 
     var s = document.getElementsByTagName('script')[0]; 
     s.parentNode.insertBefore(fess, s); })();
</script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/fuse.js"></script>
<script src="/js/fastsearch.js"></script>

    <!-- Start of Rocket.Chat Livechat Script -->
    <script type="text/javascript">
    (function(w, d, s, u) {
    w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
    var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
    j.async = true; j.src = 'https://chat.containerize.com/livechat/rocketchat-livechat.min.js?_=201903270000';
    h.parentNode.insertBefore(j, h);
    })(window, document, 'script', 'https://chat.containerize.com/livechat');
    RocketChat(function(){
    this.setDepartment('2pqwFMQKg3tA6J7GZ');
    var that = this;
    this.onPrechatFormSubmit(function(data) {
    that.setCustomField('departmentName', 'Aspose');
    });
    });
    </script>
    <!-- End of Rocket.Chat Livechat Script -->
