baseURL = "https://about.aspose.ai/"


[services.googleAnalytics]
ID = "G-ZHJP7PJ5MD"

[deployment]

[[deployment.targets]]
name = "Home"
URL = "s3://about.aspose.ai/?region=us-west-2"

[[deployment.matchers]]
# Set custom content type for /sitemap.xml
#pattern = "^sitemap\\.xml$"
#pattern = "^[a-z]\\.xml$"
pattern = "^.+\\.(xml)$"
contentType = "application/xml"
gzip = true
force = true