<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">America</div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li><img src="/templates/brand/images/icons/CountryFlag-US.png"> USA</li>
                <li><i class="fa fa-evelope">&nbsp;</i> <span id="cloak045cbbcb8cf9fa8158de06a8730b86e9"><a href="mailto:sales@containerize.com">sales@containerize.com&nbsp;</a></span><script type="text/javascript">document.getElementById('cloak045cbbcb8cf9fa8158de06a8730b86e9').innerHTML='';var prefix='&#109;a'+'i&#108;'+'&#116;o';var path='hr'+'ef'+'=';var addy045cbbcb8cf9fa8158de06a8730b86e9='s&#97;l&#101;s'+'&#64;';addy045cbbcb8cf9fa8158de06a8730b86e9=addy045cbbcb8cf9fa8158de06a8730b86e9+'c&#111;nt&#97;&#105;n&#101;r&#105;z&#101;'+'&#46;'+'c&#111;m';var addy_text045cbbcb8cf9fa8158de06a8730b86e9='s&#97;l&#101;s@c&#111;nt&#97;&#105;n&#101;r&#105;z&#101;.c&#111;m&nbsp;';document.getElementById('cloak045cbbcb8cf9fa8158de06a8730b86e9').innerHTML+='<a '+path+'\''+prefix+':'+addy045cbbcb8cf9fa8158de06a8730b86e9+'\'>'+addy_text045cbbcb8cf9fa8158de06a8730b86e9+'<\/a>';</script></li>
            </ul>
        </div>
    </div>
</div>